[Unit]
Description=ThinStation hdupdate
After=network.target
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/thinstation.env
#ExecStartPre=/bin/sleep 10
ExecStart=/etc/init.d/hdupdate init
SyslogIdentifier=thinstation

[Install]
WantedBy=multi-user.target