USB_ENABLED=ON
USB_MOUNT_USELABEL=Yes
USB_STORAGE_SYNC=ON
USB_MOUNT_OPITONS="utf8"
SCREEN_BLANK_TIME=0
SCREEN_STANDBY_TIME=0
SCREEN_SUSPEND_TIME=0
SCREEN_OFF_TIME=0