HDUPDATE_SERVER_VERSION=2.1
HDUPDATE_FILES="vmlinuz lib.squash initrd"
HDUPDATE_SERVER=10.82.24.21
SCREEN_BLANK_TIME=0
SCREEN_STANDBY_TIME=0
SCREEN_SUSPEND_TIME=0
SCREEN_OFF_TIME=0