HDUPDATE_SERVER_VERSION=2.2
HDUPDATE_FILES="vmlinuz lib.squash initrd"
SCREEN_BLANK_TIME=0
SCREEN_STANDBY_TIME=0
SCREEN_SUSPEND_TIME=0
SCREEN_OFF_TIME=0